[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RegCalReliab"]
	path = RegCalReliab
	url = https://github.com/lbw080526/regcalreliab
